<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jaywhy13.gycweb"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light">
        <activity
            android:name=".GYCMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screens.GYCPresenterList"/>
        <activity android:name=".screens.GYCPresenterDetail"/>
        <activity android:name=".screens.GYCEventList" />
        <activity android:name=".screens.GYCEventDetail" />
        <activity android:name=".screens.GYCSermonList" />
        <activity android:name=".screens.GYCSermonDetail" />
        <activity android:name=".screens.GYCBlogList" />
        <activity android:name=".screens.GYCBlogDetail" />
        <activity android:name=".screens.GYCThemeList" />
        <activity android:name=".screens.GYCThemeDetail" />
        <provider android:authorities="jaywhy13.gycweb.providers.GYCProvider" android:exported="false" android:name="jaywhy13.gycweb.providers.GYCProvider">

        </provider>
    </application>

</manifest>
