<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jaywhy13.gycweb"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="android.app.default_searchable"
            android:value="jaywhy13.gycweb.screens.GYCSermonSearchResults" />

        <activity android:name="jaywhy13.gycweb.GYCMainActivity" />
        <activity android:name="jaywhy13.gycweb.screens.GYCPresenterList" />
        <activity android:name="jaywhy13.gycweb.screens.GYCPresenterDetail" />
        <activity android:name="jaywhy13.gycweb.screens.GYCEventList" />
        <activity android:name="jaywhy13.gycweb.screens.GYCEventDetail" />
        <activity android:name="jaywhy13.gycweb.screens.GYCSermonList" />
        <activity android:name="jaywhy13.gycweb.screens.GYCSermonDetail" />
        <activity android:name="jaywhy13.gycweb.screens.GYCBlogList" />
        <activity android:name="jaywhy13.gycweb.screens.GYCBlogDetail" />
        <activity android:name="jaywhy13.gycweb.screens.GYCThemeList" />
        <activity android:name="jaywhy13.gycweb.screens.GYCThemeDetail" />
        <activity android:name=".screens.GYCSermonSearchResults"
            android:parentActivityName="./screens.GYCPresenterList">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <service android:name="jaywhy13.gycweb.media.GYCMedia" />

        <provider
            android:name="jaywhy13.gycweb.providers.GYCProvider"
            android:authorities="jaywhy13.gycweb.providers.GYCProvider"
            android:exported="false" >
        </provider>

        <activity
            android:name="jaywhy13.gycweb.screens.SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Christ in Audio"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="jaywhy13.gycweb.screens.TestScreen"
            android:label="@string/title_activity_test_screen" >
        </activity>
    </application>

</manifest>
